header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  display: flex;
  gap: 0.5em;
}
.instructions {
  white-space: pre-wrap;
}
.ingredients {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
}
/* .buttons {
  display: flex;
  flex-wrap: wrap;
}
 */
